<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="EContext" connectionString="data source=localhost;initial catalog=EDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" maxBufferPoolSize="52428800" maxBufferSize="65536000"
                maxReceivedMessageSize="65536000">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NewBinding1" maxBufferPoolSize="52428800" maxBufferSize="65536000"
                maxReceivedMessageSize="65536000">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IVisitorContract" maxBufferPoolSize="52428800" maxBufferSize="65536000"
                maxReceivedMessageSize="65536000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="EX.Service.VisitorService.VisitorContract">
        <endpoint address="net.tcp://192.168.0.26/Visitor" binding="netTcpBinding"
          bindingConfiguration="NewBinding0" contract="EX.Service.VisitorService.IVisitorContract" />
        <endpoint address="net.tcp://192.168.0.26/Visitor/mex" binding="mexTcpBinding"
          bindingConfiguration="" contract="IMetadataExchange" />
      </service>
    </services>

    <client>
      <endpoint address="net.tcp://192.168.0.26/Visitor" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IVisitorContract" contract="ServiceReference1.IVisitorContract"
          name="NetTcpBinding_IVisitorContract" />
    </client>


  </system.serviceModel>
</configuration>